<html>

<head>
    <!-- require stylesheet : bootstrap.css -->
    <link rel="stylesheet" href="bootstrap.css">
    <!-- require stylesheet : template1.css -->
    <link rel="stylesheet" href="template1.css">
    <!-- require stylesheet : print.css -->
    <link rel="stylesheet" href="print.css" media="print">
</head>

<body>
    <div class="container">
        <div class="invoice">
            <div class="row">
                <div class="col-7">
                    <img src="" class="logo">
                    <p>
                        <strong>
                            <%= quotation.cabinet.enterpriseName %>
                        </strong><br>
                        <%= quotation.cabinet.address.address %><br>
                            <%= quotation.cabinet.address.zipcode %>
                                <%= quotation.cabinet.address.region %>
                                    <%= quotation.cabinet.address.country.name %>
                    </p>
                </div>
                <div class="col-5 text-right">
                    <h1 class="document-type display-4">
                        <%= meta.type %>
                    </h1>
                    <span><strong>N° <%= quotation.id %></strong></span><br>
                    <span><strong>Date :</strong>
                        <%= quotation.date %>
                    </span><br>
                    <span><strong>Échéance :</strong>
                        <%= quotation.dueDate %>
                    </span><br>
                    <span><strong>Objet :</strong>
                        <%= quotation.object %>
                    </span>
                </div>
            </div>
            <!-- Page Break After Header -->
            <div class="page-break"></div>

            <div class="row mt-5 no-page-break">
                <strong>Envoyer à :</strong><br>
                <h6>
                    <strong class="caps mt-5">
                        <%= quotation.firm.name %>
                    </strong><br>
                    <p>
                        <%= quotation.firm.taxIdNumber %>
                    </p>
                </h6>
                <div class="row">
                    <div class="col-6">
                        <span><strong>Adresse de Livraison</strong></span><br>
                        <p>
                            <%= quotation.firm.deliveryAddress.address %>
                                <br><span>
                                    <%= quotation.firm.deliveryAddress.zipcode %>
                                        <%= quotation.firm.deliveryAddress.region %>
                                            <%= quotation.firm.deliveryAddress.country.name %>
                                </span>
                        </p>
                    </div>
                    <div class="col-6">
                        <span><strong>Adresse de Facturation</strong></span><br>
                        <p>
                            <%= quotation.firm.invoicingAddress.address %>
                                <br><span>
                                    <%= quotation.firm.invoicingAddress.zipcode %>
                                        <%= quotation.firm.invoicingAddress.region %>
                                            <%= quotation.firm.invoicingAddress.country.name %>
                                </span>
                        </p>
                    </div>
                </div>
            </div>

            <div class="page-break"></div>

            <table class="table table-striped no-page-break">
                <thead>
                    <tr>
                        <th style="width: 10%;">Nom</th>
                        <th style="width: 20%;">Description</th>
                        <th style="width: 10%;">Quantité</th>
                        <th style="width: 10%;">P.U</th>
                        <th style="width: 10%;">Remise</th>
                        <th style="width: 10%;">HT</th>
                        <th style="width: 20%;">Taxes</th>
                        <th style="width: 10%;">TTC</th>
                    </tr>
                </thead>
                <tbody>
                    <% quotation.articleQuotationEntries.forEach(function(entry) { %>
                        <tr>
                            <td>
                                <%= entry.article.title %>
                            </td>
                            <td>
                                <%= entry.article.description %>
                            </td>
                            <td>
                                <%= entry.quantity %>
                            </td>
                            <td>
                                <%= entry.unit_price %>
                                    <%= quotation.currency.symbol %>
                            </td>
                            <td>
                                <%= entry.discount %>
                                    <% if (entry.discount_type=="PERCENTAGE" ) { %>
                                        <span>%</span>
                                        <% } else { %>
                                            <span>
                                                <%= quotation.currency.symbol %>
                                            </span>
                                            <% } %>
                            </td>
                            <td>
                                <%= entry.subTotal %>
                                    <%= quotation.currency.symbol %>
                            </td>
                            <td>
                                <ul>
                                    <% entry.articleQuotationEntryTaxes.forEach(function(taxEntry) { %>
                                        <li>
                                            <%= taxEntry.tax.label %>
                                                (<%= taxEntry.tax.rate * 100 %> %)
                                        </li>
                                        <% }); %>
                                </ul>
                            </td>
                            <td>
                                <%= entry.total %>
                                    <%= quotation.currency.symbol %>
                            </td>
                        </tr>
                        <% }); %>
                </tbody>
            </table>

            <div class="page-break"></div>

            <div class="row">
                <div class="col-8">
                </div>
                <div class="col-4">
                    <table class="table table-sm text-right">
                        <tr>
                            <td><strong>Total HT</strong></td>
                            <td class="text-right">
                                <%= quotation.subTotal %>
                                    <%= quotation.currency.symbol %>
                            </td>
                        </tr>
                        <% if (quotation.taxStamp) { %>
                            <tr>
                                <td><strong>Timbre Fiscale</strong></td>
                                <td class="text-right">
                                    <%= quotation.taxStamp %>
                                        <%= quotation.currency.symbol %>
                                </td>
                            </tr>
                            <% } %>
                                <tr>
                                    <td><strong>Remise</strong></td>
                                    <td class="text-right">
                                        <%= quotation.discount %>
                                            <% if (quotation.discount_type=="PERCENTAGE" ) { %>
                                                %
                                                <% } else { %>
                                                    <%= quotation.currency.symbol %>
                                                        <% } %>
                                    </td>
                                </tr>
                                <tr>
                                    <td><strong>Total TTC</strong></td>
                                    <td class="text-right">
                                        <%= quotation.total %>
                                            <%= quotation.currency.symbol %>
                                    </td>
                                </tr>
                    </table>
                </div>
            </div>

            <div class="page-break"></div>

            <p> <strong>Conditions Générales</strong></p>
            <p class="conditions no-page-break">
                <%= quotation.generalConditions %>
            </p>

            <div class="page-break"></div>

            <p class="bottom-page text-right">
                <%= quotation.cabinet.enterpriseName %> - TIN <%= quotation.cabinet.taxIdNumber %><br>
                        <%= quotation.cabinet.address.address %>
                            <%= quotation.cabinet.address.zipcode %>
                                <%= quotation.cabinet.address.region %>
                                    <%= quotation.cabinet.address.country.name %> - <%= quotation.cabinet.phone %> - <%=
                                                quotation.cabinet.email %><br>
            </p>
        </div>
    </div>
    <footer>
        Invoice was created on a computer and is valid without the signature and seal.
    </footer>
</body>

</html>